/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.app-container {
  height: calc(100% - 56px);
}

.page-content {
  float: right;
  height: 100%;
  width: calc(100% - 70px);
}

.main-container {
  background-color: #EBEBEB;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.main-content {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 10px;
  padding: 15px 20px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(156,156,156,1);
  box-shadow: 4px 4px 5px 0px rgba(156,156,156,1);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.cursor-pointer{
  cursor: pointer;
}

.content-container {
  height: 100%;
  
  .content-header {
    padding: 5px 0;
    @extend .overflow-auto;
  }
}

.btn-orange {
  color: #FFF !important;
  background-color: #EA6333 !important;
  border: 1px solid #C34E1D !important;

  &:hover {
    background-color: #FFF !important;
    color: #C34E1D !important;
  }
}

.modal-dialog {
    max-width: 1000px !important;
}

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
