<div class="left-nav">
    <div class="buttons-container">
        <div class="icon-tile" [routerLinkActive]="['active']">
            <div class="icon">
                <span class="icon-dashboard" [routerLink]="['/dashboard']"></span>
            </div>
        </div>
        <div class="icon-tile" [routerLinkActive]="['active']">
            <div class="icon">
                <span class="icon-inventory" [routerLink]="['/inventory']"></span>
            </div>
        </div>
        <div class="icon-tile" [routerLinkActive]="['active']">
            <div class="icon">
                <span class="icon-ecommerce" [routerLink]="['/supplier-management']"></span>
            </div>
        </div>
    </div>
</div>
